<div class="modal fade" id="qrModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header border-0 pb-1">
        <h5 class="modal-title w-100">加入交流圈</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="关闭"></button>
      </div>
      <div class="modal-body pt-1 pb-3">
        <img src="/static/qrcode_1775806318766.jpg" alt="QQ群二维码" class="img-fluid rounded mb-2" style="max-width:200px;">
        <div class="text-muted small">QQ群号：<strong class="text-dark">617122727</strong></div>
        <div class="text-muted small mt-1">扫码或搜索群号加入，反馈问题和交流使用想法都可以。</div>
      </div>
    </div>
  </div>
</div>
